<ul class="text-center list-inline m-3">
  <li class="list-inline-item">
    <button routerLink="number-of-kilometers" class="btn btn-primary" >List Number Of Kilometers</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="number-of-kilometers-report" class="btn btn-primary" >Report Number Of Kilometers</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="number-of-kilometers-report-by-id" class="btn btn-primary" >Report Number Of Kilometers By Driver Id</button>
  </li>
</ul>
<router-outlet></router-outlet>
