<ul class="text-center list-inline m-3">
  <li class="list-inline-item">
    <button routerLink="driver-ratings" class="btn btn-primary" >List Driver Ratings</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="driver-ratings-report" class="btn btn-primary" >Report Driver Ratings</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="driver-ratings-report-by-id" class="btn btn-primary" >Report Driver Ratings By Driver Id</button>
  </li>
</ul>
<router-outlet></router-outlet>
