<ul class="text-center list-inline m-3">
  <li class="list-inline-item">
    <button routerLink="driver-car-recommendations" class="btn btn-primary" >List Driver Cars Recommendations</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="driver-car-recommendations-report" class="btn btn-primary" >Report Driver Cars Recommendations</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="driver-car-recommendations-report-by-id" class="btn btn-primary" >Report By Driver Id Driver Cars Recommendations</button>
  </li>
</ul>
<router-outlet></router-outlet>
