<div class="card my-5">
  <div class="card-body">
    <div class="mb-3 row">

    </div>
    <div class="mb-3 row">

    </div>
    <table id="favouriteDriversTable" class="table table-striped table-bordered table-sm">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <div class="col-auto" style="padding: 0">
            <input
              id="table-driverId-search"
              type="text"
              class="form-control"
              name="searchTermDriverId"
              placeholder="Driver Id search"
              [(ngModel)]="service.searchTermDriverId"
            />
          </div>
        <th scope="col">
          <div class="col-auto" style="padding: 0">
            <input
              id="table-userId-search"
              type="text"
              class="form-control"
              name="searchTermUserId"
              placeholder="User Id search"
              [(ngModel)]="service.searchTermUserId"
            />
          </div>
      </tr>
      </thead>
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="driverId" (sort)="onSort($event)">User ID</th>
        <th scope="col" sortable="userId" (sort)="onSort($event)">Address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let favouriteDriver of favouriteDriver$ | async">
        <td>{{ favouriteDriver.favouriteDriverId }}</td>
        <td>	<ngb-highlight [result]="favouriteDriver.driverId | number" [term]="service.searchTermDriverId"></ngb-highlight></td>
        <td>	<ngb-highlight [result]="favouriteDriver.userId | number" [term]="service.searchTermUserId"></ngb-highlight></td>
      </tr>
      </tbody>
    </table>
    <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
    <div class="d-flex justify-content-between" >
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
      <div class="d-flex">
        <select class="form-select" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="8">8 items per page</option>
          <option [ngValue]="10">10 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
