<ul class="text-center list-inline m-3">
  <li class="list-inline-item">
    <button routerLink="work-load-drivers" class="btn btn-primary" >List Workload Drivers</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="work-load-drivers-report" class="btn btn-primary" >Report Workload Drivers</button>
  </li>
  <li class="list-inline-item">
    <button routerLink="work-load-drivers-report-by-id" class="btn btn-primary" >Report Workload Drivers By Driver Id</button>
  </li>
</ul>
<router-outlet></router-outlet>
