<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <div class="col-auto" style="padding: 0">
            <input
              id="table-userId-search"
              type="text"
              class="form-control"
              name="searchTermUserId"
              placeholder="User Id search"
              [(ngModel)]="service.searchTermUserId"
            />
          </div>
        <th scope="col"></th>
        <th scope="col">
          <div class="col-auto" style="padding: 0">
            <input
              id="table-status-search"
              type="text"
              class="form-control"
              name="searchTermStatus"
              placeholder="Status search"
              [(ngModel)]="service.searchTermStatus"
            />
          </div>
        <th scope="col">
          <div class="col-auto" style="padding: 0">
            <input
              id="table-date-search"
              type="text"
              class="form-control"
              name="searchTermDate"
              placeholder="Date search"
              [(ngModel)]="service.searchTermDate"
            />
          </div>
        </th>
      </tr>
      </thead>
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="userId" (sort)="onSort($event)">User ID</th>
        <th scope="col">Document Photo</th>
        <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
        <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let militaryBonuses of militaryBonus$ | async">
        <td>{{ militaryBonuses.militaryBonusesId }}</td>
        <td><ngb-highlight [result]="militaryBonuses.userId | number" [term]="service.searchTermUserId"></ngb-highlight></td>
        <td><div><img [src]="imageUrl" alt="document photo"></div></td>
        <td><ngb-highlight [result]="militaryBonuses.militaryBonusStatus" [term]="service.searchTermStatus"></ngb-highlight></td>
        <td><ngb-highlight [result]="militaryBonuses.date | date:'dd/MM/yy  HH:mm:ss'" [term]="service.searchTermDate"></ngb-highlight></td>
      </tr>
      </tbody>
    </table>
    <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
    <div class="d-flex justify-content-between">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
      <div class="d-flex">
        <select class="form-select" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="8">8 items per page</option>
          <option [ngValue]="10">10 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>
