<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.minitaxiandroid">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			android:usesCleartextTraffic="true"
			tools:targetApi="m">

		<meta-data
				android:name="com.google.android.geo.API_KEY"
				android:value="AIzaSyA-OPsE3b6OZgPme5XDIzl_o1xV64aRWaw"
		/>
		<activity
				android:name=".activities.RanksInfoActivity"
				android:exported="true"/>
		<activity
				android:name=".activities.FavouriteAddressesActivity"
				android:exported="true"/>
		<activity
				android:name=".activities.FavouriteDriversActivity"
				android:exported="true"/>

		<activity
				android:name=".activities.DriverCarRecommendationsActivity"
				android:exported="true"/>
		<activity android:name=".activities.OrderInfoActivity"/>
		<activity android:name=".activities.DriverProfile"/>
		<activity
				android:name=".activities.UserLoginActivity"
				android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".activities.CurrentOrderActivity"
				android:exported="true">
		</activity>
		<activity
				android:name=".activities.UserRegistryActivity"
				android:exported="true"/>
		<activity
				android:name=".activities.DriverRegistrationActivity"
				android:exported="true">
		</activity>
		<activity
				android:name=".activities.MainActivity"
				android:windowSoftInputMode="stateAlwaysHidden"
				android:exported="true">
		</activity>
		<activity android:name=".activities.MakeOrderActivity"
		          android:exported="true">
		</activity>
		<activity android:name=".activities.UserOrderHistoryActivity">
		</activity>
		<activity
				android:name=".activities.DriverMenuActivity"
				android:exported="true">
		</activity>
		<activity android:name=".activities.SetRatingActivity">
		</activity>
	</application>

</manifest>